@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background: url("picture.jpg");
  background-size: 1600px 750px;
}
.main{
  width: 400px;
  height: 200px;
  position: relative;
  top: 180px;
  margin: 0 auto;
  background: #838e86;
}
.box{
  position: relative;
  background: #d9f7ed;
  width: 129px;
  height: 35px;
  top: -15px;
  left: 130px;
  padding: 5px 10px;
  font-family: Viga;

}
.content{
  padding: 30px;
  margin: auto 30px auto 30px;
  text-align: center;
  height: 60%;
  font-family: Orbitron;
  font-size: 40px;
  background: #a2d8d5;

}
