@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body{
  background: #0d0d0d;
  color: #ffbf00;
}
.main{
  height: 300px;
  position: absolute;
  left: 20%;
  bottom: 30%;
  padding: 10px;
  font-family: Orbitron;
  font-weight: bolder;
  text-shadow: 2px 2px 8px #e6ac00;
}
.dateBody{
  position: relative;
  left: 30%;
  top: 30%;
  font-size: 30px;
}
.timeBody{
  position: relative;
  left: 30%;
  top: 30%;
  font-size: 60px;
}
